* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

:root {
    --bg-color: #E2E8F0;
}

body {
    background-color: var(--bg-color);
    display: grid;
    min-height: 100vh;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}

.sidebar {
    --bg-color: #1992D4;
    background-color: var(--bg-color);
    grid-row: 1;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    row-gap: 4rem;
    /* grid-auto-rows: auto; */
    /* align-items: start; */
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2;
}

.grid-container {
    display: grid;
}

.first-level {
    grid-template-rows: 1fr 5fr;
}

.header {
    display: grid;
    grid-auto-flow: row;
}

.header > * {
    display: flex;
    gap: 2rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.second-level {
    grid-template-rows: 1fr 1fr;
}

/* .popped-title {
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
} */