* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

:root {
    --bg-color: #E2E8F0;
}

body {
    background-color: var(--bg-color);
    display: grid;
    min-height: 100vh;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}

.sidebar {
    --bg-color: #1992D4;
    background-color: var(--bg-color);
    grid-row: 1;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    row-gap: 4rem;
    /* grid-auto-rows: auto; */
    /* align-items: start; */
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2;
    padding-right: 1.5rem;
}

.grid-container {
    display: grid;
}

.first-level {
    grid-template-rows: 1fr 5fr;
}

.header {
    display: grid;
    grid-auto-flow: row;
}

.header > * {
    display: flex;
    gap: 2rem;
}

.projects {
    display: grid;
    gap: 3rem;
    padding: 2rem 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px 30px;
}

.second-level {
    grid-template-rows: 1fr 1fr;
    gap: 40px;
}

/* .popped-title {
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
} */

.icon-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon-container:hover {
    opacity: 85%;
}

.icon.dash {
    height: 3rem;
}

.icon {
    fill: white;
    height: 1.5rem;
    margin: 0 1.2rem;
}

.header .icon {
    fill: black;
}

.header {
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem;
    flex-direction: column;
    background-color: #FFFFFF;
}

.header > div {
    display: flex;
    justify-content: space-between;
}

.search-bar {
    background-color: #E2E8F0;
    border-radius: 12px;
    border: none;
    flex: 1;
    min-width: 0;
    width: 100%;
}

.flex {
    display: flex;
    flex: 1;
    min-width: 0;
}

.icon-container.expand {
    flex: 1;
}

.buttons-container {
    gap: 1.5rem;
    justify-content: flex-end;
}

.buttons-container > button {
    background-color: #1992D4;
    color: #FFFFFF;
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 24px;
    cursor: pointer;
}

.card {
    background-color: #FFFFFF;
    padding: inherit;
    border-radius: 8px;
    box-shadow: 5px 5px 13px -3px #C0C1BA;
    display: flex;
    flex-direction: column;
}

.project-card {
    border-left: solid 7px #F1BE4A;
    /* max-height: 27vh; */
    height: clamp(250px, 30vh, 350px);
}

.project-card > div {
    justify-content: flex-end;
    display: flex;
    gap: 2rem;
    width: 100%;
    margin-top: 2rem;

}

.card-icon {
    /* fill: black; */
    height: 20px;

}

.card-icon > svg {
    height: 1.75rem;
}

.grid-title {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-flow: row;
}

.announcement-card {
    /* display: flex;
    flex: 1;
    flex-direction: column; */
}

.announcements {
    justify-content: space-evenly;
    padding: 0 25px;
}

.trending {
    display: flex;
    /* flex-direction: column; */
    padding: 10px 25px;
    gap: 15px;
    justify-content: space-between;
}

.trending-card {
    display: flex;
    gap: 10px;
}

.trending-card > .text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 20%;
    height: auto;
}